#container {
    margin: 30px auto;
    width: 300px;
}

input {
    outline: none;
    height: 40px;
    width: 280px;
    background-color: #e5e5e5;
    border: none;
    padding-left: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    cursor: pointer;
    height: 40px;
    width: 300px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    background-color: #008dde;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

p {
    font-size: 25px;
    color: #008dde;
}

.input {
    background-color: #ffd1d1;
    color: red;
    padding: 10px 0;
    padding-left: 15px;
}