img {
    height: 100px;
    width: 100px;
}

body {
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}

.table {
    margin: 100px auto 30px;
    
}

table {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    
}

th,
td {
    padding: 15px;
    color: #fff;
}

th {
    text-align: left;
}

#form {
    border: 1px solid white;
    font-size: 18px;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    color: white;
    border-radius: 10px;
    height: auto;
    margin: 20px auto 20px;
    width: 95%;
}

form {
    margin: 10px;
    text-align: left;
    
}

input { 
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 20px;
}

button {
    cursor: pointer;
    height: 40px;
    width: 100px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    background-color: #008dde;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
}

li {
    display: inline;
}

nav {
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

#asc {
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    height: 1px;
    width: 1px;
}

.cap {
    text-transform: capitalize;
}

.sort {
    font-size: 10px;
}

.notification {
    color: white;
}

