body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}
.container {
    text-align: left;
    margin: 0 auto;
    width: 500px;

}

h2 {
    color: azure;
}

label {
    font-size: 20px;
    color: burlywood;
}

.in {
    outline: none;
    width: 400px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #4285F4;
    padding-left: 20px;

}

select{
   width: 417px;
   height: 34px;
   border-radius: 10px;
   outline: none;
   border: none;
   padding-left: 10px;
}
button{
    background-color: #4285F4;
    width: 120px;
    height: 40px;
    margin: 25px 0;
    border: none;
    color: white;
    cursor: pointer;
}
.input{
    color: red;
    font-weight: 5px;
    margin-bottom: 10px;
}
.notification{
    color: white;
}