body {
    background: linear-gradient(45deg, #49a09d, #5f2c82);
}

.container {
    text-align: left;
    margin: 0 auto;
    width: 500px;

}

h1 {
    color: whitesmoke;
}

label {
    font-size: 20px;
    color: ghostwhite;
}

input {
    outline: none;
    width: 400px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #4285F4;
    padding-left: 20px;

}
a{
    text-decoration: none;
    color: antiquewhite;
}