 * {
     margin: 0;
     padding: 0;

 }

 #container {
     margin: 100px auto;
     width: 500px;
     text-align: center;
 }

 input {
     outline: none;
     height: 40px;
     width: 280px;
     background-color: #e5e5e5;
     border: none;
     padding-left: 20px;
     margin: 10px 0;
     border-radius: 5px;
 }

 button {
     cursor: pointer;
     height: 40px;
     width: 300px;
     padding-left: 16px;
     padding-right: 16px;
     border: none;
     background-color: #008dde;
     color: white;
     border-radius: 5px;
     margin-top: 10px;
 }

 #btn-circle {
     background-color: #5a5656;
     height: 50px;
     width: 50px;
     line-height: 50px;
     color: white;
     border-radius: 50%;
     margin: 20px auto;
 }

 a {
     text-decoration: none;
     color: white;
     background-image: url('/assets/images/image002.jpg');
     height: 40px;
     width: 296px;
     background-color: #008dde;
     margin: 0 auto;
     line-height: 40px;
     padding: 20px;
 }